@*@model IEnumerable<WebMVC.Models.Movie>*@
@model   PagedList.IPagedList<WebMVC.Models.Movie>

<div id="moviesList">
    <div class="pagedList" data-movies-target="#movieList">
        @Html.PagedListPager(Model, 
        page => Url.Action("Index",  new{ page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Price)
            </th>
            <th></th>
        </tr> 

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit Me", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>
