@*@model IEnumerable<WebMVC.Models.Movie>*@
@model IPagedList<WebMVC.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")

    @*@using (Html.BeginForm("Index", "Movies", FormMethod.Get))
        {
        <p>
            Genre:@Html.DropDownList("movieGenre","Happy")
            Title:@Html.TextBox("SearchString","113")
            <input type="submit" value="Search" />
        </p>
        }
    *@
    @*@using (Ajax.BeginForm(new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "moviesList"
    }))
    {
        <input type="search" name="SearchString" />
        <input type="submit" value="Filter" />
    }*@
 </p>
<form method="get" action="@Url.Action("Index")"
      data-movies-ajax="true" data-movies-target="#moviesList">
    @*<input type="search" name="SearchString" />*@
    <input type="search" name="SearchString"   data-movies-autocomplete="@Url.Action("AutoComplete")"/>
    <input type="submit" value="Filter" />
   
</form>
@Html.Action("SayHello");

@Html.Partial("_Movies", Model)